*.gem
/spec/output
node_modules/*
linters/rubocop-*
linters/erb-lint-*
/tmp/*

##============================================================##
## Claude personal settings
##============================================================##
/.claude/settings.local.json

##============================================================##
## Rubymine
##============================================================##
.idea
.run
.rubocop.yml
