*.gem
/spec/output
/coverage/*
node_modules/*
linters/rubocop-*
linters/erb-lint-*
linters/js-erb-lint-*
/tmp/*

##============================================================##
## macOS
##============================================================##
.DS_Store

##============================================================##
## Claude personal settings
##============================================================##
/.claude/settings.local.json

##============================================================##
## Rubymine
##============================================================##
.idea
.run
.rubocop.yml
